<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.pet.domain.Admin" 					alias="Admin"/>
		<typeAlias type="com.pet.domain.Category" 				alias="Category"/>
		<typeAlias type="com.pet.domain.Product" 				alias="Product"/>
		<typeAlias type="com.pet.domain.Member" 				alias="Member"/>
		<typeAlias type="com.pet.domain.OrderSummary"		alias="OrderSummary"/>
		<typeAlias type="com.pet.domain.Receiver" 				alias="Receiver"/>
		<typeAlias type="com.pet.domain.OrderDetail"			alias="OrderDetail"/>
		<typeAlias type="com.pet.domain.Event"					alias="Event"/>
		<typeAlias type="com.pet.domain.EventProduct"			alias="EventProduct"/>
		<typeAlias type="com.pet.domain.Emp"						alias="Emp"/>
		<typeAlias type="com.pet.domain.Dept"						alias="Dept"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/pet/mybatis/AdminMapper.xml"/>
		<mapper resource="com/pet/mybatis/CategoryMapper.xml"/>
		<mapper resource="com/pet/mybatis/ProductMapper.xml"/>
		<mapper resource="com/pet/mybatis/MemberMapper.xml"/>
		<mapper resource="com/pet/mybatis/OrderSummaryMapper.xml"/>
		<mapper resource="com/pet/mybatis/ReceiverMapper.xml"/>
		<mapper resource="com/pet/mybatis/OrderDetailMapper.xml"/>
		<mapper resource="com/pet/mybatis/EventMapper.xml"/>
		<mapper resource="com/pet/mybatis/EventProductMapper.xml"/>
		<mapper resource="com/pet/mybatis/EmpMapper.xml"/>
		<mapper resource="com/pet/mybatis/DeptMapper.xml"/>
	</mappers>
	
</configuration>







