<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dept">
	
	<!-- 1:多관계에 있는 테이블의 레코드를 가져오기 위한 매핑 -->
	<resultMap type="Dept" id="collectionMap">
		<id column="deptno" 			property="deptno"/>
		<result column="dname" 	property="dname"/>
		<result column="loc" 			property="loc"/>
		<collection column="deptno" javaType="java.util.List" ofType="Emp" property="empList" select="Emp.selectByDeptno"/>
	</resultMap>
	
	<select id="selectAll" resultMap="collectionMap">
		select * from dept
	</select>
	
</mapper>

