<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EventProduct">
	<resultMap type="EventProduct" id="joinMap">
		<id column="event_product_id" property="event_product_id"/>

		<association column="event_id" property="event" 
			javaType="Event" select="Event.select"/>
			
		<association column="product_id" property="product" 
			javaType="Product" select="Product.byId"/>			
	</resultMap>
	
	<!-- 상품관리에서 호출 -->
	<select id="selectAll" resultMap="joinMap">
		select * from event_product		
	</select>
		
	<select id="selectJoin" resultMap="joinMap">
		select  
		event_product_id, 
		p.product_id as product_id
		, event_id
		from product p left outer join  event_product e 
		on p.product_id = e.product_id		
	</select>
		
	<select id="selectJoinByEventId" parameterType="int" resultMap="joinMap">
		select  
		event_product_id, 
		p.product_id as product_id
		, event_id
		from product p , event_product e 
		where p.product_id = e.product_id		
		and event_id=#{event_id}
	</select>	
	
	<select id="select" parameterType="int" resultMap="joinMap">
		select * from event_product 
		where event_product_id=#{event_product_id}
	</select>		
	
	<insert id="insert" parameterType="EventProduct">
		insert into event_product(event_product_id,event_id,product_id)
		values(seq_event_product.nextval,#{event.event_id},#{product.product_id})
	</insert>	
	
	<update id="update" parameterType="EventProduct">
		update event_product set event_id=#{event.event_id} 
		, product_id=#{product.product_id }
		where  event_product_id=#{event_product_id}
	</update>	
	
	<delete id="delete" parameterType="int">
		delete from event_product
		where event_product_id=#{event_product_id}
	</delete>	
</mapper>
















